<div>
    <div>
        <h1>Login existoso</h1>
        <h2><i>Hola {{datos.email}}</i></h2>
        <br>
        <button onclick="location.href='/logout'">Logout</button>
    </div>
</div>
<br>
{{>productos}}